footer
  .container.
    This is an <a target="_blank" href="https://github.com/Angelmmiguel/graaf/">Open Source project</a>.
    By <a target="_blank" href="https://angelmm.rocks" target="_blank">Angel</a>.
