head
  title Graaf, pure CSS grid overlays
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="description" content="Pure CSS grid overlays for designing your new projects. Just link the CSS that fits your grid or create your custom overlay")
  meta(name="theme-color" content="#ffffff")
  //- favicon
  link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
  link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
  link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")
  link(rel="manifest" href="/manifest.json")
  link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")
  //- styles
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:400,400i,700")
  link(rel="stylesheet", href="/style.css")
  //- script
  script(src="/graaf.js")
