thead
  tr
    th
    th
      img(src="./images/width.svg")
      | Width
    th
      img(src="./images/columns.svg")
      | Columns
    th
      img(src="./images/gutter.svg")
      | Gutter
    th
