thead
  tr
    th
    th
      img(src="./images/width.svg")
      | <span class="hide-mobile">Width</span>
    th
      img(src="./images/columns.svg")
      | <span class="hide-mobile">Columns</span>
    th
      img(src="./images/gutter.svg")
      | <span class="hide-mobile">Gutter</span>
    th
