.container
  section.usage
    h2 Usage
    .usage-block
      h3 Projects
      p.
        Graaf doesn't have any external dependency. To add it to your project, you only
        need to select the grid that fits for your design and link the stylesheet in
        your <code>head</code> HTML tag. For example, if you want to add <em>graaf</em>
        grid overlay, just copy the following code in your <code>head</code> tag:
      pre
        code.
          &lt;link rel="stylesheet" href="//s3-eu-west-1.amazonaws.com/graaf/graaf.css"&gt;

    .usage-block
      h3 Codepen
      p.
        In <a target="_blank" href="https://codepen.io">Codepen</a> you can link a grid
        overlay in the project settings. Check the following image and this
        <a target="_blank" href="http://codepen.io/angelrb/pen/XpRBYv">pen</a>.
      p.image
        img(src="/images/codepen.png")
